@media (max-width: 576px) {
  /* Main */
  body {
    overflow-x: hidden;
  }
  main {
    display: block;
  }
  main img {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
  }
  .socials-container {
    margin: auto;
    width: 50%;
  }
  .socials-container img {
    margin: 5px 0;
  }
  /* About */
  #about .about-details-container img {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
  }
  #about .about-details-container .details-container-1 {
    width: 80%;
    margin: auto;
  }
  #about .about-details-container .details-container-1 .details-container-2 {
    margin: auto;
  }
  .about-details-container {
    display: block;
  }
  .text-container {
    width: fit-content;
    text-align: center;
    margin-top: 2rem;
  }

  /* Experience */
  .exp-details-container {
    width: 90%;
  }
  /* Projects */
  .projects-container {
    display: block;
    padding: 2rem;
  }
  .project {
    width: 100%;
    margin-bottom: 2rem;
  }
  #projects .projects-details-container .details-container {
    margin-bottom: 2rem;
  }
  .contact-container {
    width: 100%;
  }
  /* Nav */
  nav ul {
    position: absolute;
    width: 40%;
    max-width: 350px;
    top: 89px;
    right: 0;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    background-color: #fff;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    transition: 0.2s;
  }
  nav ul.active {
    display: flex;
  }
  .hamburger-menu {
    display: flex;
  }
}
